<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.quizzes">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.core.EditQuizActivity"></activity>
        <activity android:name=".activity.core.BookmarkActivity" />
        <activity android:name=".activity.core.ProfileActivity" />
        <activity android:name=".activity.core.CreateQuizActivity" />
        <activity android:name=".activity.core.MyQuizzesActivity" />
        <activity android:name=".activity.entry.RegisterActivity" />
        <activity android:name=".activity.entry.SetProfileActivity" />
        <activity android:name=".activity.entry.LoginActivity" />
        <activity android:name=".activity.TermsActivity" />
        <activity android:name=".activity.entry.SliderActivity" />
        <activity
            android:name=".activity.core.CoreActivity"
            android:label="@string/title_activity_core" />
        <activity android:name=".activity.entry.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>